.App {
	text-align: center;
	background-color: #e5fffe;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	font-size: calc(10px + 2vmin);
	color: black;
	font-family: 'Roboto';
	margin-top: 10vh;
}

.Header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #00bcd4;
	color: black;
	font-size: 2vh;
	font-weight: bold;
	font-family: 'Roboto';
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-bottom: 10px;
	height: 10vh;
}

.logo {
	height: 5vh;
	vertical-align: middle;
}

.nav-links {
	color: white;
	display: flex;
	justify-content: space-between;
}

.nav-item {
	display: inline-block;
	color: white;
	text-decoration: none;
}

.nav-item-dropdown {
	display: inline-block;
	color: black;
	text-decoration: none;
}

.nav-item:hover {
	color: darkblue;
}
