.navBarMenu{
    padding-left: 10vw;
}

.footer{
    text-align: center;
}

.content{
    margin-left: auto;
    margin-right: auto;
    max-width: 1100px;
    width: 80%; 
}
.content > {
    padding-bottom: 10%;
}